// -------------COUNTDOWN CONTAINER-----------------------
#countdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 2.5%;
  & .timer {
    font-size: 10rem;
    color: $terciary-color;
    &.colon {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
