#done-container {
  width: 100%;
  height: 100%;
  background: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .img-container {
    margin: 5% auto;
    width: 30%;
    img {
      width: 100%;
    }
  }

  .msg-container {
    width: 80%;
    font-size: 6rem;
    & h1 {
      text-align: center;
    }
  }
}
