// -------------INSPIRATIONAL QUOTE CONTAINER-----------------------
#inspirational-container {
  width: 80%;
  h3 {
    font-size: 1.5rem;
    font-style: italic;
  }
  p {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
}
