#tasks-list-container {
  & .tasks-list-header {
    display: flex;
    justify-content: space-between;
    & .plus-container {
      display: flex;
      align-items: center;
      & i:hover {
        color: $terciary-color;
      }
    }
  }
  & .tasks-list {
    & .task {
      padding: 1rem;
      margin-bottom: 1rem;
      &.done {
        text-decoration-line: line-through;
      }
      &.active {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.6);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.4px);
        -webkit-backdrop-filter: blur(2.4px);
        color: $primary-color;
      }
    }
  }
}
