// main colors
$primary-color: #191919;
$secondary-color: #2d4263;
$terciary-color: #c84b31;
$complementary-color: #ecdbba;

$button-transition: all 0.3s linear;

// fonts
$title-font: 'Montserrat', sans-serif;
$subtitle-font: 'Lora', serif;
$body-font: 'Hind Madurai', sans-serif;
