@import './variables';
@import './pomodoro-container';
@import './done-container';
@import './mode-container';
@import './countdown-container';
@import './inspirational-container';
@import './buttons-container';
@import './sidebar-container';

body {
  color: $complementary-color;
  height: 100vh;
  width: 100vw;
}

#app {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;

  // -------------DONE FOR EL DÍA CONTAINER------------
  // #done-container {
  //   width: 100%;
  //   height: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;

  //   .img-container {
  //     margin: 5%;
  //     width: 30%;
  //     img {
  //       width: 100%;
  //     }
  //   }

  //   .msg-container {
  //     width: 80%;
  //     font-size: 6rem;
  //     & h1 {
  //       text-align: center;
  //     }
  //   }
  // }
}
